<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <security>
            <authentication>
                <windowsAuthentication enabled="false" />
            </authentication>
        </security>


    </system.webServer>
  <system.web>
        <customErrors mode="Off"/>
      </system.web>
</configuration>
